<?xml version="1.0" encoding="utf-8" ?>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
      <target name="fileTrace" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
        <target name="file"  xsi:type="File" fileName="${basedir}/Logs/nlog.txt" encoding="UTF-8" archiveAboveSize="100240" layout="${date}|${level}|${message}" />
      </target>
    </targets>


    <rules>
      <logger name="*" minlevel="Trace" writeTo="fileTrace" />
      <!--<logger name="*" minlevel="Error" writeTo="fileError" />-->
      <logger name="*" minlevel="Fatal" writeTo="csv" />
    </rules>
</nlog>
